<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oneworld.web.dao.ReportMapper">
    <resultMap id="BaseResultMap" type="com.oneworld.web.model.Report">
        <id column="pk_id" property="pkId" jdbcType="INTEGER"/>
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="report_type" property="reportType" jdbcType="VARCHAR"/>
        <result column="target_id" property="targetId" jdbcType="VARCHAR"/>
        <result column="target_type" property="targetType" jdbcType="INTEGER"/>
        <result column="current_state" property="currentState" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List">
       pk_id,id,report_type,target_id,target_type,current_state,status,update_time,is_delete
    </sql>

    <insert id="insertReport" parameterType="com.oneworld.web.model.Report">
        insert into t_report (id,report_type,target_id,target_type,current_state,status,update_time,is_delete)
        values (#{id,jdbcType=VARCHAR},#{reportType,jdbcType=VARCHAR},#{targetId,jdbcType=VARCHAR},#{targetType,jdbcType=INTEGER},#{currentState,jdbcType=INTEGER},
        #{status,jdbcType=INTEGER},#{updateTime,jdbcType=TIMESTAMP},#{isDelete,jdbcType=INTEGER})
    </insert>

    <delete id="deleteReport" parameterType="java.lang.String">
        delete from t_report
        where id = #{id,jdbcType=VARCHAR}
    </delete>

    <select id="queryReportPage" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        FROM t_report
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="reportType!=null and reportType!='' ">
                and report_type = #{reportType,jdbcType=VARCHAR} OR report_type LIKE CONCAT('%','${reportType}','%')
            </if>
            <if test="currentState!=null and currentState!='' ">
                and current_state = #{currentState,jdbcType=INTEGER}
            </if>
            <if test="targetId!=null and targetId!='' ">
                and target_id = #{targetId,jdbcType=VARCHAR}
            </if>
            <if test="targetType!=null and targetType!='' ">
                and target_type = #{targetType,jdbcType=INTEGER}
            </if>
            <if test="keys!=null and keys!='' ">
                AND report_type LIKE '%${keys}%'
                OR current_state LIKE '%${keys}%'
            </if>
        </trim>
        ORDER BY update_time DESC
        <if test="index != null and length != null">
            LIMIT #{index},#{length}
        </if>
    </select>
    <select id="findReportByTargetTypeAndId" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_report
        WHERE target_id = #{targetId,jdbcType=VARCHAR} AND target_type = #{targetType,jdbcType=INTEGER}
    </select>

    <update id="updateReport" parameterType="com.oneworld.web.model.Report">
        UPDATE t_report
        <set>
            <if test="reportType != null">
                report_type = #{reportType,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=INTEGER},
            </if>
            <if test="currentState != null">
                current_state = #{currentState,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
        </set>
        WHERE id = #{id,jdbcType=VARCHAR}
    </update>

    <select id="findReportById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        FROM t_report
        where id =#{id,jdbcType=VARCHAR}
    </select>

</mapper>